@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&family=Yantramanav:wght@300;400;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

button {
    border-style: none;
    cursor: pointer;
}

body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}

:root {
    --background-colour: #000000;
    --accent-colour: #18181B;
    --text-colour: #F5F5F5;
    --header-font: 'Dancing Script', cursive, 'Roboto', sans-serif;
    --font: 'Yantramanav', 'Roboto', sans-serif;
}

body {
    background-color: var(--background-colour);
    font-family: var(--font);
    width: 100vw;
    height: 100vh;
}

#content {
    height: 100%;
}

.main-img {
    width: 500px;
    border-radius: 8px;
}

.header {
    display: flex;
    background-color: var(--background-colour);
    height: 100px;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    box-shadow: 0 1px 16px rgb(48, 48, 48);
}

.header-text {
    font-size: 64px;
    font-family: var(--header-font);
    color: var(--text-colour)
}

.header-links {
    display: flex;
    gap: 16px;
}

.header-links>button {
    border-radius: 8px;
    font-size: 20px;
    font-family: var(--font);
    font-weight: bold;
    color: var(--text-colour);
    background-color: var(--background-colour);
}

.header-links>button:hover {
    background-color: var(--text-colour);
    color: var(--background-colour);
    
}

.main {
    display: flex;
    height: calc(100vh - 100px);
    justify-content: center;
    align-items: center;
}

.hero {
    display: flex;
    justify-content: left;
    width: 100%;
    color: var(--text-colour);
    margin-left: 12%;
    gap: 32px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 32px;
}

.hero-header {
    font-size: 32px;
    font-weight: bold;
}

.hero-subtext {
    font-size: 18px;
}

.about-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 100px)
}

.about-img {
    position: absolute;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.img-container {
    display: flex;
    position: relative;
    width:100%;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.about-header {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100px;
}

.about-header-text {
    color: white;
    font-family: var(--font);
    font-weight: bold;
    font-size: 32px;
}

.ab-txt-container {
    display: flex;
    justify-content: center;
    width: 500px;
    margin-top: 64px;
}

.ab-txt-container>p {
    color: white;
    font-size: 20px;
}